@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('iconfont.ttf?t=1642343115617') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-canting:before {
  content: "\e64f";
}

.icon-hongbao:before {
  content: "\e613";
}

.icon-jiudiancanting-:before {
  content: "\e94c";
}

.icon-jiudiancanting-1:before {
  content: "\e94d";
}

.icon-jiudiancanting-2:before {
  content: "\e950";
}

.icon-jiudiancanting-3:before {
  content: "\e953";
}

.icon-jiudiancanting-4:before {
  content: "\e954";
}

.icon-jiudiancanting-5:before {
  content: "\e955";
}

.icon-jiudiancanting-6:before {
  content: "\e95c";
}

.icon-jiudiancanting-7:before {
  content: "\e95d";
}

.icon-jiudiancanting-8:before {
  content: "\e962";
}

.icon-jiudiancanting-9:before {
  content: "\e965";
}

.icon-jiudiancanting-10:before {
  content: "\e968";
}

.icon-jiudiancanting-11:before {
  content: "\e969";
}

.icon-jiudiancanting-12:before {
  content: "\e96a";
}

.icon-jiudiancanting-13:before {
  content: "\e96e";
}

.icon-jiudiancanting-14:before {
  content: "\e970";
}

.icon-jiudiancanting-15:before {
  content: "\e977";
}

.icon-jiudiancanting-16:before {
  content: "\e978";
}

.icon-jiudiancanting-17:before {
  content: "\e980";
}

.icon-jiudiancanting-18:before {
  content: "\e986";
}

.icon-canting1:before {
  content: "\e68e";
}

.icon-canting2:before {
  content: "\e61a";
}

.icon-hongbao1:before {
  content: "\e62b";
}

